/* 
    Document   : media
    Created on : Mar 22, 2013, 5:10:07 AM
    Author     : melengo
    Description:
        Purpose of the stylesheet follows.
*/

/* Smart Phone lanscape 480x320 */
/* Smart Phone Portrait 480x320 */

/* Tablet Phone lanscape 1024x768 */
/* Tablet Portrait 768x1024 */
