
.icon_merpati { 
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/merpati.png) no-repeat 0 0;
    
}

.icon_wings_air{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/wings_air.png) no-repeat 0 0;
    
}

.icon_lion_air{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/lion_air.png) no-repeat 0 0;
    
}

.icon_transnusa{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/transnusa.png) no-repeat 0 0;
    
}

.icon_air_asia{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/air_asia.png) no-repeat 0 0;
    
}

.icon_citilink{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/citilink.png) no-repeat 0 0;
    
}

.icon_garuda_indonesia{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/garuda_indonesia.png) no-repeat 0 0;
    
}

.icon_indonesia_air{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/indonesia_air.png) no-repeat 0 0;
    
}

.icon_jetstar{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/jetstar.png) no-repeat 0 0;
    
}

.icon_pelita_air{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/pelita_air.png) no-repeat 0 0;
    
}

.icon_silkair{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/silkair.png) no-repeat 0 0;
    
}

.icon_sky{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/sky.png) no-repeat 0 0;
    
}

.icon_sriwijaya_air{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/sriwijaya_air.png) no-repeat 0 0;
    
}

.icon_tiger_airways{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/tiger_airways.png) no-repeat 0 0;
    
}

.icon_travira_air{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/travira_air.png) no-repeat 0 0;
    
}

.icon_trigana_air{
    display: block;
    overflow: hidden;
    height: 32px;
    background: url(img/trigana_air.png) no-repeat 0 0;
    
}
